.App{
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2vw
}
.landing-page{
  height: 75vh;
  width: 100%;
  background-color: #4a8587;
  display: flex;
  justify-content: center;
}
.content-box{
  height: auto;
  width: 100%;
  padding: 5vw;
  box-sizing: border-box;

}
#about-section{
  background-color: #DFBE7A;
  color: black
}

#portfolio-section{
  background-color: #DFA97A;
  color: black;
}

#resume-section{
  background-color: #596A96
}

#contact-section{
  background-color: #1A2D5B;
  display: flex;
  flex-direction: row;
  justify-content: space-around
}
h1{
  font-size: 2em;

}

h2{
  background-color: inherit;
  font-size: 1.5em;
}

a {
  color: white;
  display: flex;
  align-content: center

}

.landing-info{
  width: 50%;
  margin: 5%

}
.avatar-box{
  margin: 5%
}
.avatar{
  height: 30vw !important;
  width:  30vw!important;
  min-width: 200px;
  min-height: 200px;
}

.resume-div{
  width: 100%;
  height: 80vh;
}

.small-p{
  font-size: .7em;
  display: flex;
  align-content: center;
  padding: 8px;
  margin: 0
}

.footer-line{
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 8%;
  padding: 8px;


}

.header-line{
  display: flex;
  align-content: center;
  height: 10%;
  padding: 8px
}

p{
  padding-left: 8px
}

.jss1{
  color: white
}