.App{
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2vw
}
.landing-page{
  height: 75vh;
  width: 100%;
  background-color: #4a8587;
  display: flex;
  justify-content: center;
}
.content-box{
  height: auto;
  width: 100%;
  padding: 10vw;
  box-sizing: border-box;

}
#about-section{
  background-color: #DFBE7A;
  color: black
}

#portfolio-section{
  background-color: #DFA97A;
  color: black;
}

#resume-section{
  background-color: #596A96
}

#contact-section{
  background-color: #1A2D5B
}
h1{
  font-size: 2em;

}

h2{
  background-color: inherit;
  font-size: 1.5em;
}

a {
  color: inherit;
  display: flex;
  align-content: center

}

.landing-info{
  width: 50%;
  margin: 5%

}
.avatar-box{
  margin: 5%
}
.avatar{
  height: 30vw !important;
  width:  30vw!important;
  min-width: 200px;
  min-height: 200px;
}
